# exception
!five-letter-words.txt
!f-past-wordle-answers.txt
!experiment.csv
!experiment_100_words.csv
!experiment_100_words_reast.csv
!experiment_100_words_max_size_50.csv
!experiment_100_words_max_size_15.csv
